/* Makes the outter edges match with the image */
body {
  background-color: #233944;
}

/* Main body of the game is wrapped in this jumbotron */
.jumbotron {
  background-color: #233944;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 97vh;
}

/* Hides the attack button until combat starts */
#attackSlot {
  visibility: hidden;
}

/* Health bar empty */
.Progress {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.884);
}

/* Spartacus Health bar fill */
#spartacusHealth {
  width: 100%;
  background-color: green;
}

/* Varro Health bar fill */
#varroHealth {
  width: 100%;
  background-color: green;
}
/* Ashur Health bar fill */
#ashurHealth {
  width: 100%;
  background-color: green;
}
/* Crixus Health bar fill */
#crixusHealth {
  width: 100%;
  background-color: green;
}
/* Gannicus Health bar fill */
#gannicusHealth {
  width: 100%;
  background-color: green;
}
/* Oenomaus Health bar fill */
#oenomausHealth {
  width: 100%;
  background-color: green;
}

#spartacusPopover {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  filter: "FlipH";
  -ms-filter: "FlipH";
}

#varroPopover {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  filter: "FlipH";
  -ms-filter: "FlipH";
}

#ashurPopover {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  filter: "FlipH";
  -ms-filter: "FlipH";
}

#crixusPopover {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: "FlipH";
  -ms-filter: "FlipH";
}

#gannicusPopover {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#oenomausPopover {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
