/* Sets the animation for the special attack button */
@-webkit-keyframes greenPulse {
  from {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: #91bd09;
    -webkit-box-shadow: 0 0 18px #91bd09;
  }
  to {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

/* Makes the outter edges match with the image */
body {
  background-color: #233944;
}

.statusWindow {
  background: rgba(255, 255, 255, 0.507);
}

.quote {
    font-style: italic;
}

/* Main body of the game is wrapped in this jumbotron */
.jumbotron {
  background-color: #233944;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 97vh;
}

/* Hides the attack button until combat starts */
#attackSlot {
  visibility: hidden;
}

/* Hides the special attack button until combat starts */
#specialSlot {
  visibility: hidden;
}

/* Special attack button, hidden on start and animated */
#specialBtn {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

/* Health bar empty */
.Progress {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.884);
}

/* Spartacus Health bar fill */
#spartacusHealth {
  width: 100%;
  background-color: green;
}

/* Varro Health bar fill */
#varroHealth {
  width: 100%;
  background-color: green;
}
/* Ashur Health bar fill */
#ashurHealth {
  width: 100%;
  background-color: green;
}
/* Crixus Health bar fill */
#crixusHealth {
  width: 100%;
  background-color: green;
}
/* Gannicus Health bar fill */
#gannicusHealth {
  width: 100%;
  background-color: green;
}
/* Oenomaus Health bar fill */
#oenomausHealth {
  width: 100%;
  background-color: green;
}

/* Faces the character in the correct direction */
#spartacusPopover {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  filter: "FlipH";
  -ms-filter: "FlipH";
  height: 150px;
  width: 150px;
}

/* Faces the character in the correct direction */
#varroPopover {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  filter: "FlipH";
  -ms-filter: "FlipH";
  height: 150px;
  width: 150px;
}

/* Faces the character in the correct direction */
#ashurPopover {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  filter: "FlipH";
  -ms-filter: "FlipH";
  height: 150px;
  width: 150px;
}

/* Faces the character in the correct direction */
#crixusPopover {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: "FlipH";
  -ms-filter: "FlipH";
  height: 150px;
  width: 150px;
}

/* Faces the character in the correct direction */
#gannicusPopover {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  height: 150px;
  width: 150px;
}

/* Faces the character in the correct direction */
#oenomausPopover {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  height: 150px;
  width: 150px;
}
