body {
  background-color: #233944;
}

.jumbotron {
  background-color: #233944;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 97vh;
}

#myProgress {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.884);
}
#myBar {
  width: 100%;
  height: 30px;
  background-color: green;
}

#spartacusPopover {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  filter: "FlipH";
  -ms-filter: "FlipH";
}

#varroPopover {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  filter: "FlipH";
  -ms-filter: "FlipH";
}

#ashurPopover {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  filter: "FlipH";
  -ms-filter: "FlipH";
}

#crixusPopover {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: "FlipH";
  -ms-filter: "FlipH";
}

#gannicusPopover {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#oenomausPopover {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
